<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideal.sales.mapper.SalesMapper">

	<!-- 查询所有商品 -->
	<select id="queryAllSales" resultType="com.ideal.sales.dto.SalesDto">
			SELECT o.OFFER_ID ,o.OFFER_NAME,o.OFFER_DESC,o.OFFER_TYPE,o.PRICING,oa.DEFAULT_VALUE,oaa.DEFAULT_VALUE UNIT
			FROM  offer o LEFT JOIN (SELECT oat.* FROM offer_attr oat LEFT JOIN dictionary d ON oat.ATTR_ID = d.DICTIONARY_ID
			WHERE d.DICTIONARY_ID=1001) oa ON
			o.offer_id=oa.offer_id LEFT JOIN (SELECT oat.* FROM offer_attr oat LEFT JOIN dictionary d ON oat.ATTR_ID = d.DICTIONARY_ID
			WHERE d.DICTIONARY_ID=1006) oaa ON
			o.offer_id=oaa.offer_id ;
	</select>
	<!--  查看详情-->
	<select id="querySalesByID" resultType="com.ideal.sales.dto.SalesProDto">
			select p.PROD_ID,p.PROD_NAME,p.PROD_DESC,ppa.DEFAULT_VALUE
			from  offer_prod_rel opr left join   product p on opr.PROD_ID = p.PROD_ID
			LEFT JOIN (select pa.PROD_ID,pa.DEFAULT_VALUE from prod_attr pa
			left join dictionary d on pa.ATTR_ID=d.dictionary_id
			where d.DICTIONARY_ID=1002) ppa ON p.PROD_ID = ppa.PROD_ID
			where opr.OFFER_ID = #{OFFER_ID} ;
	</select>
	<!--  查看详情-->
	<select id="querySalesByProID" resultType="com.ideal.sales.dto.SalesProDto">
			select p.PROD_ID,p.PROD_NAME,p.PROD_DESC,ppa.DEFAULT_VALUE
			from  prod_rel pr left join product p on pr.prod_id=p.PROD_ID left join
			(select pa.PROD_ID,pa.DEFAULT_VALUE from prod_attr pa
			left join dictionary d on pa.ATTR_ID=d.dictionary_id
			where d.DICTIONARY_ID=1002) ppa ON pr.PROD_ID = ppa.PROD_ID
			where pr.PAR_PROD_ID = #{PROD_ID} ;
	</select>

	<!--  添加购物车-->
	<insert id="addSalesCart">
			INSERT INTO cart
			SET
			USER_NAME = #{USER_NAME} ,
			OFFER_ID = #{OFFER_ID} ,
			OFFER_NAME = (SELECT OFFER_NAME FROM offer WHERE OFFER_ID = #{OFFER_ID}),
			<if test="STARTDATE != null and STARTDATE != ''">
			START_DATE = #{STARTDATE},
			</if>
			<if test="ENDDATE != null and ENDDATE !=''">
			END_DATE = #{ENDDATE},
			</if>
			record_time = now(),
			count_num = 1
	</insert>
	<!-- 数量+1 -->
	<update id="addSalesCartOne">
			update cart set count_num = count_num +1 ,record_time = now()
			<where>
			USER_NAME = #{USER_NAME} and
			OFFER_ID = #{OFFER_ID} 
			<if test="STARTDAT !=null and STARTDATE != ''">
			and START_DATE = #{STARTDATE}
			</if>
			<if test="END_DATE != null and END_DATE !=''">
			and END_DATE = #{ENDDATE}
			</if>
			</where>
	</update>

	<!--  组合商品-->
	<select id="getGroupOffer" resultType="com.ideal.order.dto.OrderCartDto">
  		select o.offer_id,o.offer_name,o.offer_desc,o.pricing,oaa.default_value,o.offer_type PROD_TYPE
		from offer o left join offer_rel orr on o.offer_id = orr.offer_id
		left join (select oa.offer_id,oa.default_value from offer_attr oa left join dictionary d on oa.attr_id=d.dictionary_id where d.DICTIONARY_ID=1001) oaa
		on o.offer_id=oaa.offer_id where orr.par_offer_id= #{OFFER_ID}and  o.offer_type="M"
  	</select>

  	<!--  产品-->
	<select id="getAllProd" resultType="com.ideal.order.dto.OrderProdDto">
		select p.prod_id,p.prod_name,p.prod_desc,oaa.default_value,p.FACTORY_PRICING,p.TOTAL_RESOURCES
		from offer_prod_rel opr left join  product p on opr.prod_id=p.prod_id
		left join (select pa.prod_id,pa.default_value from prod_attr pa left join dictionary d on pa.attr_id=d.dictionary_id where d.DICTIONARY_ID=1001) oaa
		on p.prod_id=oaa.prod_id
		<where>
			opr.offer_id=#{OFFER_ID}
			and  p.prod_type="M"
		</where>
	</select>
  	<!--  计算资源-->
	<select id="queryCount" resultType="Integer">
		select IFNULL(sum(resources_num),0)
		from resources_occupation
   		where prod_id = #{prod_id}
		AND start_Date &lt;= #{date}
		AND end_Date &gt;= #{date}
		AND OCCUPY_TYPE=1
		OR (OCCUPY_TYPE=0 and NOW()-RECORD_TIME &lt;= 1800)
	</select>

	<!-- 判断商品时间 -->
	<select id="querySalesCartByDate" resultType="com.ideal.sales.dto.SalesCartDto">
		select * from cart
		<where>
			1=1
			<if test="OFFER_ID !=null and OFFER_ID !=''">
			and OFFER_ID = #{OFFER_ID}
			</if>
			<if test="USER_NAME !=null and USER_NAME !=''">
			and USER_NAME = #{USER_NAME}
			</if>
			<if test="STARTDATE !=null and STARTDATE !=''">
			and START_DATE = #{STARTDATE}
			</if>
			<if test="ENDDATE !=null and ENDDATE !=''">
			and END_DATE = #{ENDDATE}
			</if>
		</where>

	</select>


</mapper>
