<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideal.property.mapper.OfferInstMapper">
	
  	<select id="getOfferInst" resultType="com.ideal.property.dto.OfferInstDto">
  		select `OFFER_INST_ID`,<!-- 销售品实例id -->
  				`OFFER_INST_NAME`<!-- 实例名称 -->
  		from offer_inst 
  		where `CUST_ID` = #{username}
  	</select>
  	
</mapper>