<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideal.property.mapper.PropertyMapper">

  	<select id="queryPropertyResources" resultType="Integer">
  		select IFNULL(sum(resources_num),0)
  		from resources_occupation
  		where
  		prod_id = (select prod_id from prod_inst where prod_inst_id = #{PROD_INST_ID})
  		and start_date = #{START_DATE}
  		and start_time = #{START_TIME}
  		AND OCCUPY_TYPE=1
		OR (OCCUPY_TYPE=0 and NOW()-RECORD_TIME &lt;= 1800)
  	</select>
  	<insert id="addPropertyResource">
  		insert into resources_occupation
  		set serial = (select CUST_ORDER_NBR from offer_inst where OFFER_INST_ID=#{OFFER_INST_ID}),
  		offer_id = (select OFFER_ID from offer_inst where OFFER_INST_ID=#{OFFER_INST_ID}),
  		prod_id = (select prod_id from offer_prod_inst_rel where OFFER_INST_ID=#{OFFER_INST_ID}),
  		resources_num = 1,
  		start_date = #{DATE},
  		end_date = #{DATE},
  		start_time = #{STARTTIME},
  		end_time = #{ENDTIME},
  		OCCUPY_TYPE = 0,
  		RECORD_TIME = now()
  	</insert>

	<select id="getContact" resultType="java.lang.String">
		select contact_user from contact where user_name=#{userName}
	</select>


	<insert id="addCustomerService">
		INSERT into customer_service
		set serial = #{serial},
		user_name = #{userName},
		reservation_date = #{reservationDate},
		reservation_time = #{reservationTime},
		contact_name = #{contactName},
		prod_inst_id = #{prodInstId},
		status = #{serial}

	</insert>
</mapper>
